In [170]:
import pandas as pd
dict_df = pd.read_excel("Monthly_retail_sales_workbook.xlsx", skiprows= 4, sheet_name = None)

Get the information on the produced dictionary

In [171]:
#currently reads in all sheets to a dictionary of dataframes without names
# print(type(dict_df))
# print(len(dict_df))
# for key in dict_df:
#     print(key)

Create a single dataframe from dictionary to work with as an example
This cleans the top and bottom of the dataframe of unwanted data

In [172]:
df = dict_df.get('1992')
df = df.drop(['TOTAL'], axis = 1)
df = df.drop([0])
df.rename(columns = {'Unnamed: 0':'NAPCSCode', 'Unnamed: 1':'NAPCSname'}, inplace = True)
print(type(df['NAPCSCode']))
drop_rows = df[df['NAPCSCode'] == 722].index.tolist()[1]
df = df.iloc[:drop_rows-1] #This drops the bottom rows that are not needed if i can locate the second index

<class 'pandas.core.series.Series'>

This splits the single dataframe into two separate dataframes for adjusted and non adjusted values.
It also removed the last of unwanted data that includes combination values and additional top bottom values
I tried removing rows that had a comma in them based on NAPCSCode, but that crashed the kernel and was far more time consuming then necessary.

In [173]:
# adjusted_indexlist = df[df['NAPCSname'] == 'ADJUSTED(2)'].index.tolist()[0]
# adjusted_df = df.iloc[adjusted_indexlist+7:,:]
# adjusted_df = adjusted_df.drop([75, 77])
# non_adjusteddf = df.iloc[:adjusted_indexlist -6,:]
# number_of_rows = 7
# non_adjusteddf = non_adjusteddf.iloc[number_of_rows: , :]
# non_adjusteddf = non_adjusteddf.drop([9, 14])
# #at this point the dataframes are split and done.  They need writing to new dictionaries
# display(non_adjusteddf)
# display(adjusted_df)

One thing to note is that that the dataframes need to be pivoted for the ml algorithm and that the code will likely need to be removed for that step as well or at least moved.

This should be the full automation to run through the entire dictionary clean and write the dataframes into new dictionaries.  It is the combination of the above codes int a for loop

keys are nonadjusted_year or adjusted_year

In [174]:
adjusted_dict = {}
nonadjusted_dict = {}
for key in dict_df:
    if key == '2022':
        print('Skipping 2022 due to incomplete data')
    else:
        df = dict_df.get('{}'.format(key))
        df = df.drop(['TOTAL'], axis = 1)
        df = df.drop([0])
        df.rename(columns = {'Unnamed: 0':'NAPCSCode', 'Unnamed: 1':'NAPCSname'}, inplace = True)
        drop_rows = df[df['NAPCSCode'] == 722].index.tolist()[1] #chooses the seoond occurence of 722
        df = df.iloc[:drop_rows-1]
        # code for bottom section adjusted dataframe
        adjusted_indexlist = df[df['NAPCSname'] == 'ADJUSTED(2)'].index.tolist()[0]
        adjusted_df = df.iloc[adjusted_indexlist+7:,:]
        adjusted_df = adjusted_df.drop([75, 77])
        #code for top non adjusted dataframe
        non_adjusteddf = df.iloc[:adjusted_indexlist -6,:]
        number_of_rows = 7
        non_adjusteddf = non_adjusteddf.iloc[number_of_rows: , :]
        non_adjusteddf = non_adjusteddf.drop([9, 14])
        #Write dataframes to new dictionaries
        adjusted_dict.update({'adjusted_{}'.format(key) : adjusted_df})
        nonadjusted_dict.update({'nonadjusted_{}'.format(key): non_adjusteddf})
# for key in adjusted_dict:
#     print(key)
    
# for key in nonadjusted_dict:
#     print(key)

Skipping 2022 due to incomplete data

The below code takes out the header and splits it into a list of month and year.  
It then converts the month into the integer representation.
It needs to be looped or added to the loop based on what we need.
The 'Total''s were left to represent the unmodified version of the table.

In [198]:
from datetime import datetime
dict_df2 = pd.read_excel("Monthly_retail_sales_workbook.xlsx", header = None, skiprows= 4, sheet_name = None)
df2 = dict_df2.get('1992')
# display(df2)
daterowsplit = df2.iloc[0]
# print(daterowsplit)
for i in daterowsplit:
    if type(i) == str:
        if i.find('.') != -1:
            x = i.split('. ')
        else:
            x = i.split(' ')
    if x[0] != 'TOTAL':
        x[0] = datetime.strptime(x[0], '%b').month
#     print(x)
# display(df)

['TOTAL']
['TOTAL']
[1, '1992']
[2, '1992']
[3, '1992']
[4, '1992']
[5, '1992']
[6, '1992']
[7, '1992']
[8, '1992']
[9, '1992']
[10, '1992']
[11, '1992']
[12, '1992']
['TOTAL']

,NAPCSCode,NAPCSname,Jan. 1992,Feb. 1992,Mar. 1992,Apr. 1992,May 1992,Jun. 1992,Jul. 1992,Aug. 1992,Sep. 1992,Oct. 1992,Nov. 1992,Dec. 1992
1,NaN,"Retail and food services sales, total",146376,147079,159336,163669,170068,168663,169890,170364,164617,173655,171547,208838
2,NaN,Retail sales and food services excl motor vehi...,116565,115862,124200,127587,133608,130274,132076,134928,128734,136917,139187,175771
3,NaN,Retail sales and food services excl gasoline s...,134277,135499,147064,151226,156619,155236,156016,156539,151477,159992,158483,195350
4,NaN,Retail sales and food services excl motor vehi...,104466,104282,111928,115144,120159,116847,118202,121103,115594,123254,126123,162283
5,NaN,"Retail sales, total",130683,131244,142488,147175,152420,151849,152586,152476,148158,155987,154824,191347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,45299,All other gen. merchandise stores,2682,2621,2493,2541,2499,2475,2479,2523,2504,2562,2576,2666
100,453,Miscellaneous stores retailers,4318,4308,4292,4391,4356,4357,4468,4494,4549,4809,5059,5059
101,454,Nonstore retailers,6515,6110,6018,6327,6550,6653,6891,6766,6714,6665,6610,6597
102,4541,Electronic shopping and mail order houses,2668,2632,2477,2757,2874,3065,3238,3137,3064,3062,3029,3032
103,45431,Fuel dealers,1282,1177,1327,1464,1491,1421,1392,1408,1438,1466,1459,1444

This uses the produces separated dictionary of dataframes from above and pivots them for the machine learning algorithm.

In [197]:
df4 = nonadjusted_dict['nonadjusted_2021']
# df4 = df4.stack()
# df4 = df4.pivot(columns = ['NAPCSCode','NAPCSname'])
print(type(df4))
display(df4)

<class 'pandas.core.frame.DataFrame'>

,NAPCSCode,NAPCSname,Jan. 2021,Feb. 2021,Mar. 2021,Apr. 2021,May 2021,Jun. 2021,Jul. 2021,Aug. 2021,Sep. 2021,Oct. 2021,Nov. 2021,Dec. 2021
8,441,Motor vehicle and parts dealers,100629,99324,141659,138891,137600,132297,129123,123620,118654,120186,115837,122304
10,4411,Automobile dealers,87117,85259,120463,117514,116807,111154,109169,104362,100594,101704,98587,105140
11,44111,New car dealers,77391,74874,104050,101980,102538,96934,95559,90256,86553,87437,85574,92521
12,44112,Used car dealers,9726,10385,16413,15534,14269,14220,13610,14106,14041,14267,13013,12619
13,4413,"Automotive parts, acc., and tire stores",7686,7489,10168,9838,9420,9673,9704,9829,9432,9844,9437,9565
15,442,Furniture and home furnishings stores,10432,9916,12401,11951,11925,11730,12027,12091,11974,12040,12795,12678
16,4421,Furniture stores,6009,5657,7074,6770,6742,6406,6589,6542,6614,6629,6656,6455
17,4422,Home furnishings stores,(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S)
18,44221,Floor covering stores,(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S)
19,442299,All other home furnishings stores,(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S),(S)
20,443,Electronics and appliance stores,6843,6121,7875,7346,7501,7891,7920,7854,7548,7896,8940,10446
21,443141,Household appliance stores,1606,1470,1930,1829,1754,1889,1831,1797,1785,1769,1834,1747
22,443142,Electronics stores,5237,4651,5945,5517,5747,6002,6089,6057,5763,6127,7106,8699
23,444,Building mat. and garden equip. and supplies d...,30890,29284,43010,46533,46315,44931,41162,39586,38859,39435,39491,38294
24,4441,Building mat. and supplies dealers,26897,25401,36990,39531,39644,39143,36401,35049,34340,34618,34925,33323
25,44412,Paint and wallpaper stores,983,952,1358,1358,1352,1422,1322,1362,1330,1302,1180,1079
26,44413,Hardware stores,2576,2410,3188,3443,3575,3535,3254,3148,3082,3127,3158,3269
27,445,Food and beverage stores,70026,64261,70946,69944,74598,73120,75644,74501,72978,75780,75733,82729
28,4451,Grocery stores,63171,57543,63134,62163,66336,64865,67187,66583,65263,67795,67280,71845
29,44511,Supermarkets and other grocery (except conveni...,60599,55126,60297,59212,63246,61800,63985,63468,62268,64744,64320,68773
30,4453,"Beer, wine, and liquor stores",5031,4910,5658,5645,6016,5986,6162,5701,5572,5761,6021,7701
31,446,Health and personal care stores,29377,27599,33452,31960,31436,32617,31992,32537,32089,32541,32432,37356
32,44611,Pharmacies and drug stores,24829,23193,27661,26721,26084,27021,26607,27111,26676,27288,26784,30120
33,447,Gasoline stations,36994,36073,46008,46956,49813,50892,53078,52841,51994,54734,52283,51829
34,448,Clothing and clothing access. stores,15385,16102,23616,23115,25886,24618,25219,25063,22592,24366,28725,39375
35,4481,Clothing stores,10432,10488,16032,15858,17399,17011,17584,16951,15506,16886,20052,24334
36,44811,Men's clothing stores,385,389,605,711,(S),(S),(S),(S),(S),(S),(S),(S)
37,44812,Women's clothing stores,2140,2149,3255,3267,3502,3368,3437,3202,3113,3269,3823,4340
38,44814,Family clothing stores,5721,5735,9134,9031,9986,9859,10204,10008,8791,9785,11933,14606
39,44819,Other clothing stores,1103,1042,1500,1372,1440,1558,1542,1424,1338,1345,1502,1807
40,4482,Shoe stores,2264,2200,3746,3425,3651,3389,3520,3985,2988,3064,3340,4557
41,44831,Jewelry stores,2415,3129,(S),(S),(S),(S),(S),(S),(S),(S),(S),(S)
42,451,"Sporting goods, hobby, musical instrument, and...",7212,6256,9323,8786,8686,9100,8965,9488,8566,8605,10040,12824
43,45111,Sporting goods stores,4060,3754,6035,5760,5586,5912,5721,5752,4973,5011,5624,7535
44,45112,"Hobby, toy, and game stores",1613,1416,1941,1742,1733,1699,1776,1807,1900,2031,2850,3133
45,451211,Book stores,769,430,513,481,592,659,668,1082,829,655,665,1127
46,452,General merchandise stores,58475,53073,68779,64291,67916,65694,66868,67707,62955,69188,74215,85128
47,4521,Department stores,8236,7882,10824,10027,11189,10798,10958,11419,10223,11103,13079,17073
48,452111,Department stores(excl. discount department st...,1265,1580,2201,2243,2695,2538,2453,2423,2347,2539,3346,4984
49,452112,Discount dept. stores,6971,6302,8623,7784,8494,8260,8505,8996,7876,8564,9733,12089
50,4529,Other general merchandise stores,50239,45191,57955,54264,56727,54896,55910,56288,52732,58085,61136,68055
51,45291,Warehouse clubs and superstores,43445,38796,49742,45977,48125,46910,48139,48624,45212,49965,52309,57754
52,45299,All other gen. merchandise stores,6794,6395,8213,8287,8602,7986,7771,7664,7520,8120,8827,10301
53,453,Miscellaneous store retailers,10285,9998,12786,13217,13723,14266,14369,14390,14230,14988,14565,15595
54,4532,"Office supplies, stationery, and gift stores",1823,1729,2202,2204,2290,2484,2639,2831,2757,3128,2400,3146
55,45321,Office supplies and stationery stores,903,780,910,834,789,779,815,1142,926,781,750,866
56,45322,"Gift, novelty, and souvenir stores",920,949,1292,1370,1501,1705,1824,1689,1831,2347,1650,2280
57,45330,Used merchandise stores,1533,1472,1929,2024,1856,1815,2003,1940,1802,2065,2169,1880
58,454,Nonstore retailers,86010,80926,95909,94884,92062,93523,88478,94144,90401,97978,114631,124291
59,4541,Electronic shopping and mail-order houses,77069,71736,86133,85806,83723,85330,80468,86257,82234,88768,104804,113929
60,45431,Fuel dealers,3997,4296,3651,2538,2143,2085,1968,2002,2273,2829,3700,4415